.main-audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }
}

.image-container img {
  width: 300px;
  height: 386px;
  object-fit: cover;
}

.main-audio-container > div > div {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.audio-elements audio {
  width: 200px;

  @media (min-width: 600px) {
      width: 250px
  }
}