.main-audio-container {
  background-color: navajowhite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  margin: 0 auto;
  padding: 20px 0;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }
}

.image-container img {
  width: 300px;
  height: 386px;
  object-fit: cover;
  border: solid white 1px;
}

.main-audio-container > div > div {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.audio-element-container {
  background-color: #55d3ac;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 300px;
  align-items: center;
  gap: 2px;
  justify-content: space-around;
  height: 100px;
  border-radius: 5px;
}

.audio-elements audio {
  width: 200px;

  @media (min-width: 600px) {
      width: 250px
  }
}

.select-album-border {
  border: dotted 6px yellow;
}

.album-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  div {
    margin: 1rem;

    button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  img {
    object-fit: cover;
    height: 15rem;
  }
}