@import "about";
@import "guitar";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: cornflowerblue;
}

global-header::part(global-header) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  
  width: 100vw;
}

global-header::part(header) {
  margin: 10px;
}

global-header::part(sub-header) {
  color: white;
  margin: 10px;
}

global-header::part(anchor) {
  text-decoration: none;
  background-color: #55d3ac;
  padding: 10px;
  border-radius: 5px;
  color: red;
}

global-header::part(anchor):hover {
  color: cornflowerblue; 
}

.menu-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  & > .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 18%;
    // border: solid red 1px;
    margin: 1% auto;

    a {
      margin: 0 auto;
    }

    &:hover > .menu-item--icon {
      // visibility: visible;
    }
  }

  .menu-item--icon {
    display: none;
    // visibility: hidden;

    width: 50px;
    height: 50px;
    background-color: red;
  }
}

.gist-container {
  width: 80%;
  margin: 0 auto;

  @media (min-width: 1000px) {
    width: 60%;
  }

  .homepage-gists__item {
    background-color: rgb(40,38,36);
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-bottom: solid 0.1em black;

    h1 {
      border-bottom: solid 0.1em black;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 1rem 0;
    }

    ul, ol {
      padding-left: 2rem;
    }
  }
}

#cookie-policy {
  position: fixed;
  width: 90%;
  height: 10%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  .policy-modal {
    background-color: white;
    position: absolute;
    height: 200px;
    width: 200px;
    border: cornflowerblue solid 3px;
    border-radius: 3px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    .policy-exit {
      position: absolute;
      right: 10px;
      padding: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .policy-items {
      display: flex;
      flex-direction: column;
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  .cookie-policy-container {
    background-color: #55d3ac;
    padding: 30px;
    display: flex;
    gap: 10%;
    justify-content: center;
    width: 100%;

    span {
      position: absolute;
      top: 0;
      right: 8px;

      &:hover {
        cursor: pointer;
      }
    }
    
  }
}
  
