* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: cornflowerblue;
}

global-header::part(global-header) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 15vh;
  // border: solid 1px pink;
}

.menu-contain {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;

  & > .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 18%;
    // border: solid red 1px;
    margin: 1% auto;

    button {
      margin: 0 auto;
    }

    &:hover > .menu-item--icon {
      // visibility: visible;
    }
  }

  .menu-item--icon {
    display: none;
    // visibility: hidden;

    width: 50px;
    height: 50px;
    background-color: red;
  }
}
