.about-contain {
  display: flex;
  justify-content: center; }

.main-audio-container {
  background-color: navajowhite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  margin: 0 auto;
  padding: 20px 0;
  flex-direction: column; }
  @media (min-width: 800px) {
    .main-audio-container {
      flex-direction: row; } }

.image-container img {
  width: 300px;
  height: 386px;
  object-fit: cover;
  border: solid white 1px; }

.main-audio-container > div > div {
  display: flex;
  flex-direction: column;
  width: 70%; }

.audio-element-container {
  background-color: #55d3ac;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 300px;
  align-items: center;
  gap: 2px;
  justify-content: space-around;
  height: 100px;
  border-radius: 5px; }

.audio-elements audio {
  width: 200px; }
  @media (min-width: 600px) {
    .audio-elements audio {
      width: 250px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: cornflowerblue; }

global-header::part(global-header) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 100vw; }

global-header::part(header) {
  margin: 10px; }

global-header::part(sub-header) {
  color: white;
  margin: 10px; }

global-header::part(anchor) {
  text-decoration: none;
  background-color: #55d3ac;
  padding: 10px;
  border-radius: 5px;
  color: red; }

global-header::part(anchor):hover {
  color: cornflowerblue; }

.menu-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; }
  .menu-contain > .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 18%;
    margin: 1% auto; }
    .menu-contain > .menu-item a {
      margin: 0 auto; }
  .menu-contain .menu-item--icon {
    display: none;
    width: 50px;
    height: 50px;
    background-color: red; }

.gist-container {
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    .gist-container {
      width: 60%; } }
  .gist-container .homepage-gists__item {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-bottom: solid 0.1em black; }
    .gist-container .homepage-gists__item h1 {
      border-bottom: solid 0.1em black; }
    .gist-container .homepage-gists__item h1, .gist-container .homepage-gists__item h2, .gist-container .homepage-gists__item h3, .gist-container .homepage-gists__item h4, .gist-container .homepage-gists__item h5, .gist-container .homepage-gists__item h6 {
      margin: 1rem 0; }
    .gist-container .homepage-gists__item ul, .gist-container .homepage-gists__item ol {
      padding-left: 2rem; }

#cookie-policy {
  position: fixed;
  width: 90%;
  height: 10%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center; }
  #cookie-policy .policy-modal {
    background-color: white;
    position: absolute;
    height: 200px;
    width: 200px;
    border: cornflowerblue solid 3px;
    border-radius: 3px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* The switch - the box around the slider */
    /* Hide default HTML checkbox */
    /* The slider */
    /* Rounded sliders */ }
    #cookie-policy .policy-modal .policy-exit {
      position: absolute;
      right: 10px;
      padding: 5px; }
      #cookie-policy .policy-modal .policy-exit:hover {
        cursor: pointer; }
    #cookie-policy .policy-modal .policy-items {
      display: flex;
      flex-direction: column; }
    #cookie-policy .policy-modal .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px; }
    #cookie-policy .policy-modal .switch input {
      opacity: 0;
      width: 0;
      height: 0; }
    #cookie-policy .policy-modal .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s; }
    #cookie-policy .policy-modal .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    #cookie-policy .policy-modal input:checked + .slider {
      background-color: #2196F3; }
    #cookie-policy .policy-modal input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    #cookie-policy .policy-modal input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }
    #cookie-policy .policy-modal .slider.round {
      border-radius: 34px; }
    #cookie-policy .policy-modal .slider.round:before {
      border-radius: 50%; }
  #cookie-policy .cookie-policy-container {
    background-color: #55d3ac;
    padding: 30px;
    display: flex;
    gap: 10%;
    justify-content: center;
    width: 100%; }
    #cookie-policy .cookie-policy-container span {
      position: absolute;
      top: 0;
      right: 8px; }
      #cookie-policy .cookie-policy-container span:hover {
        cursor: pointer; }
